<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chatbot</title>
    <style>
      #chat-container {
        max-width: 400px;
        margin: 20px auto;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
      }
      #title {
        text-align: center;
      }
    </style>
  </head>
  <body>
    <div><h1 id="title"> Vishwa bot</h1></div>
    <div id="chat-container">
      <div id="chat-log"></div>
      <input type="text" id="user-input" placeholder="Type your message..." />
      <button onclick="sendMessage()">Send</button>
    </div>

    <script>
      function sendMessage() {
        const userInput = document.getElementById("user-input").value;
        const chatLog = document.getElementById("chat-log");
        chatLog.innerHTML += `<div><strong>You:</strong> ${userInput}</div>`;
        fetch("/get_response", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({ user_input: userInput }),
        })
          .then((response) => response.json())
          .then((data) => {
            const botResponse = data.bot_response;
            chatLog.innerHTML += `<div><strong>Bot:</strong> ${botResponse}</div>`;
          })
          .catch((error) => console.error("Error:", error));
        document.getElementById("user-input").value = "";
      }
    </script>
  </body>
</html>
